.gamePlay{
    flex:0.8;
    @media (max-width: 768px) {
        flex:1;
    }
    &Cards{
    padding:3rem 0.5rem;
    background-color: var(--main-color);
    display:flex;
    flex-wrap: wrap;
    gap:0.4rem;
    justify-content: center;

    >img{
        height:140px;
        width: 84px;
        object-fit: contain;
        border-radius: 10px;
        @media (min-width: 950px){
            height:340px;
            width: 280px;
        }
    }
}}